<%- include('partials/navbar') %>
<link rel="stylesheet" href="/css/admin-dashboard.css">
<h1>Admin Dashboard</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Role</th>
            <th>City</th>
            <th>Verified</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.contact %></td>
                <td><%= user.role || "User" %></td>
                <td><%= user.city || "Not specified" %></td>

                <td>
                    <% if (user.verified) { %>
                        <button class="verified-btn" style="background-color: rgb(21, 189, 71); color: white; border: none; padding: 10px; border-radius:30px;">Verified</button>
                    <% } else { %>
                        <form action="/verify-user" method="POST">
                            <input type="hidden" name="userId" value="<%= user._id %>">
                            <button type="submit" style="background-color: rgb(235, 50, 50); color: white; border: none; padding: 10px 15px; border-radius:30px; cursor: pointer;">Verify</button>
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>
