<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Welcome, <span style="color: var(--primary-color);"><%= user.username %></span></h1>
    <div class="container">
      
        <div class="posts">
            <% if (user.role === 'ngo') { %>
                <% const restaurantPosts = posts %>
                <% if (restaurantPosts.length > 0) { %>
                    <% restaurantPosts.forEach(post => { %>
                        <div class="post info-card">
                            <img class="card-image" src="/uploads/<%= post.image %>" alt="Post Image">
                           <div class="card-content">
                            <h3>Quantity: <%= post.quantity %></h3>
                            <p>Food Type: <%= post.foodType %></p>
                            <p>Restaurant: <%= post.user.username %></p>
                            <button class="btn" onclick="showQRCode('<%= post.user.contact %>')">Contact</button>
                            <button class="btn" onclick="window.location.href='/view/post/<%= post._id %>'">View</button>
                           </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No posts to display.</p>
                <% } %>
            <% } %>
        </div>
        <% if (user.role === 'restaurant') { %>
            <% oppositeUsers.filter(oppUser => oppUser.role === 'ngo').forEach(oppUser => { %>
                <div class="info-card">
                    <img src="/uploads/<%= oppUser.profilePicture || '/img/default-ngo.jpg' %>" alt="Profile Image" class="card-image">
                    <div class="card-content">
                        <h3>Name: <%= oppUser.username %></h3>
                        <p>Contact No: <%= oppUser.contact %></p>
                        <p>Email: <%= oppUser.email %></p>
                        <p>City: <%= oppUser.city %></p>
                        <p>Address: <%= oppUser.address %></p>
                        <button class="btn" onclick="showQRCode('<%= oppUser.contact %>')">Contact</button>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>

    <script>
        // Function to show QR code
        function showQRCode(contactNumber) {
            const qrCodeUrl = `https://api.qrserver.com/v1/create-qr-code/?data=tel:${contactNumber}&size=150x150`;
            const qrWindow = window.open('', '_blank', 'width=200,height=200');
            qrWindow.document.write(`<img src="${qrCodeUrl}" alt="QR Code">`);
        }
    </script>
</body>
</html>
